fastapi
uvicorn[standard]
python-dotenv
gitpython
sentence-transformers
pinecone-client
langchain
langchain-community
langchain-ollama
replit
pandas
tqdm
pyyaml
httpx
lxml
rich
dotenv
requests
pytest
pytest-asyncio
ruff
flake8
