fastapi
uvicorn[standard]
python-dotenv
gitpython
sentence-transformers
pinecone
langchain
langchain-community
langchain-ollama
replit
pandas
tqdm
pyyaml
httpx
lxml
rich==13.5.1
dotenv
requests
pytest
pytest-asyncio
ruff
flake8
